{{ define "main" }}
<div class="bg-cherry-pink border-b border-black">
  <div class="container md:max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-20 md:py-36">
    <h1 class="font-display font-semibold text-4xl md:text-7xl text-risd-blue">
      {{ .Site.Params.Slogan }}
    </h1>
    {{/* {{ .Content }} */}}
  </div>
</div>

{{/* About section */}}
{{- if .Site.Params.about.enable | default true }}
<div class="bg-icterine border-b border-black">
  <div class="container md:max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20 md:py-36">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-14 w-full">
      <div class="order-2 md:order-1 bg-cherry-pink border-2 border-black w-full p-2">
        {{ with .Site.Params.about.image }}
          {{ $image := resources.Get .}}
          {{ with $image }}
          <div class="bg-white p-4 -rotate-6 border-2 border-black">
            <img src="{{ .RelPermalink }}" alt="Profile Picture" class="block w-full">
          </div>
          {{- end }}
        {{- end }}
      </div>
      <div class="order-1 md:order-2 space-y-20">
        <p class="font-accent text-3xl md:text-5xl">{{- .Site.Params.about.title }}<p>
        <p class="font-body text-lg md:text-xl">{{- .Site.Params.about.body }}</p>
      </div>
    </div>
  </div>
</div>
{{- end }}

{{/* Features section */}}
<div class="bg-white container md:max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class=" border-x border-black">
    <div class="py-20 md:py-36">
      <h2 class="font-display text-center text-3xl md:text-5xl">Why static?</h2>

      <div class="mt-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        {{ $bgColors := slice "bg-tomato" "bg-cherry-pink" "bg-icterine" "bg-risd-blue" "bg-white" }}
        {{ $textColors := slice "text-gray-800" "text-gray-800" "text-gray-800" "text-white" "text-gray-800" }}
        {{ $icons := slice "icons/rocket.svg" "icons/seo.svg" "icons/responsive-design.svg" "icons/lock.svg" "icons/repair.svg" "icons/speed.svg" }}

        {{ range $index, $feature := .Params.features}}
        <div class="{{ index $bgColors (mod $index (len $bgColors)) }} border border-black h-52 p-8 flex flex-col items-center justify-center space-y-4">
          <h3 class="{{ index $textColors (mod $index (len $textColors)) }} text-2xl md:text-3xl font-display font-semibold">
            {{ $feature.title}}
          </h3>
          <img
            src="{{ (index $icons (mod $index (len $icons))) | relURL }}"
            alt="Icon {{ $feature.title }}"
            class="h-10 w-10"
          >
          <p class="{{ index $textColors (mod $index (len $textColors)) }} mt-4 font-body text-lg md:text-xl">
            {{ $feature.description }}
          </p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{/* Blog section */}}
<div class="bg-cherry-pink border-black">
  <div class="container md:max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20 md:py-36">
    <h2 class="font-display text-center text-3xl md:text-5xl">Blog</h2>

    <div class="mt-20 grid grid-cols-1 md:grid-cols-3 gap-6">
      {{- range first 3 site.RegularPages }}
      <div class="bg-white p-4 border border-black">
        <a href="{{ .RelPermalink }}">
          <img
            src="{{ .Params.image | relURL }}"
            alt="Image for {{ .LinkTitle }}"
            class="w-full object-cover"
          >
          <h3 class="text-2xl md:text-3xl my-4 font-display text-gray-900">{{ .LinkTitle }}</h3>
          <p class="text-lg md:text-xl text-gray-800">
            {{ .Summary | plainify | truncate 150 | safeHTML }}
          </p>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
