<nav class="my-8 font-mono">
  <div class="flex flex-wrap items-center justify-center gap-4">
    {{ if .paginator.HasPrev }}
    <a href="{{ .paginator.Prev.URL }}"
      class="flex items-center px-4 py-2 font-bold text-black uppercase bg-white border-3 border-black hover:bg-pink-500 hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-8 w-8">
          <path d="M19 12a1 1 0 0 1-1 1H8.414l1.293 1.293a1 1 0 0 1-1.414 1.414l-3-3a1 1 0 0 1 0-1.414l3-3a1 1 0 0 1 1.414 1.414L8.414 11H18a1 1 0 0 1 1 1z" data-name="Left"/>
        </svg>
        <span class="inline-block ml-2">Prev</span>
    </a>
    {{ else }}
    <span class="flex items-center px-4 py-2 font-bold text-black uppercase bg-white border-3 border-black opacity-50 cursor-not-allowed">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-8 w-8">
          <path d="M19 12a1 1 0 0 1-1 1H8.414l1.293 1.293a1 1 0 0 1-1.414 1.414l-3-3a1 1 0 0 1 0-1.414l3-3a1 1 0 0 1 1.414 1.414L8.414 11H18a1 1 0 0 1 1 1z" data-name="Left"/>
        </svg>
      <span class="inline-block ml-2">Prev</span>
    </span>
    {{ end }}

    <div class="flex gap-2">
      {{ range .paginator.Pagers }}
      <a href="{{ .URL }}"
        class="flex items-center justify-center w-10 h-10 font-bold text-black border-3 border-black hover:bg-pink-500 hover:text-white
        {{ if eq . $.paginator }}bg-cherry-pink {{ else }}bg-white{{ end }}">
        {{ .PageNumber }}
      </a>
      {{ end }}
    </div>

    {{ if .paginator.HasNext }}
    <a href="{{ .paginator.Next.URL }}"
      class="flex items-center px-4 py-2 font-bold text-black uppercase bg-white border-3 border-black hover:bg-pink-500 hover:text-white">
      <span class="inline-block mr-2">Next</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-8 w-8" fill="currentColor"><path d="m18.707 12.707-3 3a1 1 0 0 1-1.414-1.414L15.586 13H6a1 1 0 0 1 0-2h9.586l-1.293-1.293a1 1 0 0 1 1.414-1.414l3 3a1 1 0 0 1 0 1.414z" style="currentColor" data-name="Right"/></svg>
    </a>
    {{ else }}
    <span class="flex items-center px-4 py-2 font-bold text-black uppercase bg-white border-3 border-black opacity-50 cursor-not-allowed">
      <span class="inline-block mr-2">Next</span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-8 w-8" fill="currentColor"><path d="m18.707 12.707-3 3a1 1 0 0 1-1.414-1.414L15.586 13H6a1 1 0 0 1 0-2h9.586l-1.293-1.293a1 1 0 0 1 1.414-1.414l3 3a1 1 0 0 1 0 1.414z" style="currentColor" data-name="Right"/></svg>
    </span>
    {{ end }}
  </div>
</nav>
