{{- define "main" }}
<div class="flex-grow bg-tomato">
  <div class="container md:max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20">
    <h1 class="text-4xl font-black font-display mb-12 text-gray-900">{{ .Title }}</h1>
    <p class="my-10 font-body text-lg">{{ .Content | plainify }}</p>
    <div class="md:max-w-3xl">
      <form
        name="contact"
        method="POST"
        action="/submit-success"
        data-netlify="true"
        netlify-honeypot="bot-field"
        class="font-body"
      >
        <p class="hidden">
          <label>Don’t fill this out if you’re human: <input name="bot-field" /></label>
        </p>
        <label for="name" class="sr-only">Name</label>
        <input id="name" name="name" type="text"
          class="block w-full border-2 border-black py-3 text-gray-900  placeholder:text-gray-700
          focus:ring-2 focus:ring-inset focus:ring-white text-base md:text-lg"
          placeholder="Your name"
        >

        <label for="email" class="sr-only">Email address</label>
        <input id="email" name="email" type="email" autocomplete="email"
          class="mt-2 block w-full border-2 border-black py-3 text-gray-900 placeholder:text-gray-700 focus:ring-2 focus:ring-inset focus:ring-white text-base md:text-lg"
          placeholder="Email address"
        >

        <label for="message" class="sr-only">Message</label>
        <textarea id="message" name="message" rows="3"
          class="mt-2 block w-full border-2 border-black py-3 text-gray-900 placeholder:text-gray-700 focus:ring-2 focus:ring-inset focus:ring-white text-base md:text-lg"
          placeholder="Write a few sentences about yourself."
        ></textarea>

        <div class="mt-4 flex justify-end">
          <div class="bg-black duration-200">
            <button
              type="submit"
              class="border-2 border-black bg-risd-blue text-white px-4 py-2 active:translate-x-0
              active:translate-y-0 duration-200
              -translate-x-1 -translate-y-1 hover:-translate-x-1.5
              hover:-translate-y-1.5 text-lg md:text-lg font-semibold"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{- end }}
